<div class="main border-radius">
    <h1>Cart</h1>
    <br/><br/>

    {% form 'cart', cart %}
        <table class="cart-table">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Image</th>
                    <th>Price</th>
                    <th>Size</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart.items %}
                <tr>
                    <td>{{ item.title }}</td>
                    <td>
                        <img src="{{ item.image | product_img_url: 'medium' }}" alt="{{ item.title }}">
                    </td>
                    <td>{{ item.price | money }}</td>
                    <td>{{ item.variant.options[0] }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.line_price | money }}</td>
                    <td><a href="{{ item.url_to_remove }}" class="remove-item">Remove</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <hr/><br/>

        <div>
            <label for="promo-code">Promotion Code:</label>
            <input type="text" id="promo-code">
            <button id="apply-promo-btn">Apply</button>
        </div>

        <br/>

        <p class="total" id="total-price">{{ 'Total' | upcase }}: {{ cart.total_price | money }}</p>
        <p><span id="discounted-price"></span></p>

        <button type="submit" name="checkout" class="cart-btn black">Checkout</button>
    {% endform %}
</div>
