{% comment %} Dynamic Product Details START {% endcomment %}

<div class="sale-img-div"> 
    {% comment %} <img src="{{ 'sale.jpg' | asset_url }}" alt="Sale"/> {% endcomment %}
</div>

<br/>

<div class="main"> 
    <h3>Popular items</h3>
    <div class="product-list">

        {% comment %} C). Looping Through Collections: How would you loop through a collection of products and display {% endcomment %}
        {% comment %} each product's title in a Shopify theme? {% endcomment %}

        {% for product in collections['frontpage'].products %}
        <div class="product-item"> 
            <a href="{{ product.url }}">
                <img class="product-img" src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.title }}">
                <p>{{ product.title }}</p>
                <p>CAD {{ product.price | money }}</p>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

{% comment %} Dynamic Product Details END {% endcomment %}

{% comment %} Static Product Details START {% endcomment %}